<div  style="width: 95%; margin: 0 auto;">

  <p id="notice"><%= notice %></p>

  <h1 align="center">Listing All Clients</h1>

<%#= render 'article',  object_id: @articles %>
  <%= render 'clients/client2',  object_id: @clients %>


</div>