<div id="tg-homeslidervone" class="tg-homeslidervone tg-homeslider tg-haslayout">
  <div class="pogoSlider-slide ps2" data-transition="fade" data-duration="1500" >
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6">
          <div class="tg-slidercontent">
            <h1 class="pogoSlider-slide-element" data-in="flipX" data-out="flipX" data-duration="800">Design Your Suit<span>Online</span></h1>
            <div class="tg-description pogoSlider-slide-element" data-in="slideLeft" data-out="slideRight" data-duration="1800">
              <p>You constantly seek out ways to improve the quality of life for you and your family. At Mydarzishop, we understand how valuable your time is, which is why we've made it our goal to give you the best online tailor shop search experience we can.</p>
            </div>
            <div class="tg-btns pogoSlider-slide-element" data-in="slideUp" data-out="slideUp" data-duration="800">
              <a class="tg-btn" href="https://codecanyon.net/item/tailor-online-woocommerce-plugin-for-online-custom-tailoring/19812760" target="_blank">Buy Now</a>
              <a class="tg-btn tg-active" href="https://codecanyon.net/item/tailor-online-woocommerce-plugin-for-online-custom-tailoring/19812760" target="_blank">View Screenshots</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pogoSlider-slide ps1" data-transition="fade" data-duration="1500" >
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6">
          <div class="tg-slidercontent">
            <h1 class="pogoSlider-slide-element" data-in="flipX" data-out="flipX" data-duration="800">Design Your Suit<span>Online</span></h1>
            <div class="tg-description pogoSlider-slide-element" data-in="slideLeft" data-out="slideRight" data-duration="1800">
              <p>You constantly seek out ways to improve the quality of life for you and your family. At Mydarzishop, we understand how valuable your time is, which is why we've made it our goal to give you the best online tailor shop search experience we can.</p>
            </div>
            <div class="tg-btns pogoSlider-slide-element" data-in="slideUp" data-out="slideUp" data-duration="800">
              <a class="tg-btn" href="https://codecanyon.net/item/tailor-online-woocommerce-plugin-for-online-custom-tailoring/19812760" target="_blank">Buy Now</a>
              <a class="tg-btn tg-active" href="https://codecanyon.net/item/tailor-online-woocommerce-plugin-for-online-custom-tailoring/19812760" target="_blank">View Screenshots</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pogoSlider-slide ps2" data-transition="fade" data-duration="1500" >
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6">
          <div class="tg-slidercontent">
            <h1 class="pogoSlider-slide-element" data-in="flipX" data-out="flipX" data-duration="800">Design Your Suit<span>Online</span></h1>
            <div class="tg-description pogoSlider-slide-element" data-in="slideLeft" data-out="slideRight" data-duration="1800">
              <p>You constantly seek out ways to improve the quality of life for you and your family. At Mydarzishop, we understand how valuable your time is, which is why we've made it our goal to give you the best online tailor shop search experience we can.</p>
            </div>
            <div class="tg-btns pogoSlider-slide-element" data-in="slideUp" data-out="slideUp" data-duration="800">
              <a class="tg-btn" href="https://codecanyon.net/item/tailor-online-woocommerce-plugin-for-online-custom-tailoring/19812760" target="_blank">Buy Now</a>
              <a class="tg-btn tg-active" href="https://codecanyon.net/item/tailor-online-woocommerce-plugin-for-online-custom-tailoring/19812760" target="_blank">View Screenshots</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pogoSlider-slide ps3" data-transition="fade" data-duration="1500" >
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6">
          <div class="tg-slidercontent">
            <h1 class="pogoSlider-slide-element" data-in="flipX" data-out="flipX" data-duration="800">Design Your Suit<span>Online</span></h1>
            <div class="tg-description pogoSlider-slide-element" data-in="slideLeft" data-out="slideRight" data-duration="1800">
              <p>You constantly seek out ways to improve the quality of life for you and your family. At Mydarzishop, we understand how valuable your time is, which is why we've made it our goal to give you the best online tailor shop search experience we can.</p>
            </div>
            <div class="tg-btns pogoSlider-slide-element" data-in="slideUp" data-out="slideUp" data-duration="800">
              <a class="tg-btn" href="https://codecanyon.net/item/tailor-online-woocommerce-plugin-for-online-custom-tailoring/19812760" target="_blank">Buy Now</a>
              <a class="tg-btn tg-active" href="https://codecanyon.net/item/tailor-online-woocommerce-plugin-for-online-custom-tailoring/19812760" target="_blank">View Screenshots</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>