<section class="tg-bglight tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="tg-shortcode tg-userfriendlymeasurments">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
          <div class="tg-shortcodetext">
            <div class="tg-heading">
              <h2>User Friendly Measurments</h2>
            </div>
            <div class="tg-description">
              <p>We are aware that choosing a new outfit involves more than just the way it looks; it also involves how it fits and feels. We have spent years designing the most comfortable clothing available because of this.</p>
                <p>Better still? When new trends are released, we'll let everyone know so you can be the first person on your block to wear them!</p>
            </div>
            <div class="tg-btns">
<!--              <a class="tg-btn" href="http://www.codezel.com/tailors-online/customizer/?pid=8" target="_blank">Start Customizing</a>-->
<!--              <a class="tg-btn" href="howitwork.html">Video Tutorial</a>-->
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
          <div class="tg-shortcodeimg">
            <figure>
              <%= image_tag("img-04.png", alt: "image description") %>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
