<section class="tg-bglight tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="tg-shortcode tg-userfriendlymeasurments">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
          <div class="tg-shortcodetext">
            <div class="tg-heading">
              <h2>User Friendly Measurments</h2>
            </div>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etaiate dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="tg-btns">
              <a class="tg-btn" href="http://www.codezel.com/tailors-online/customizer/?pid=8" target="_blank">Start Customizing</a>
              <a class="tg-btn" href="howitwork.html">Video Tutorial</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
          <div class="tg-shortcodeimg">
            <figure>
              <%= image_tag("img-04.png", alt: "image description") %>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
