<section class="tg-sectionspace tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="tg-shortcode tg-tailoronline">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
          <div class="tg-shortcodetext">
            <div class="tg-heading">
              <h2>Hi, We are Online</h2>
            </div>
            <div class="tg-description">
              <p>Whether you need a new suit or just a better fit, mydarzishops are a great place to shop for suits.</p>
              <p>To find great deals on all types of clothing, from shirts to suits and dresses, use www.mydarzishop.com search engine. You will have access to a huge variety of tailors, brands and styles, and you will be able to place your order in a matter of clicks.</p>
            </div>
            <div class="tg-btns">
<!--              <a class="tg-btn" href="http://www.codezel.com/tailors-online/customizer/?pid=8">Start Customizing</a>-->
<!--              <a class="tg-btn" href="howitwork.html">Video Tutorial</a>-->
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
          <div class="tg-shortcodeimg tg-shortcodemultiimgs">
            <figure><%= image_tag("for.jpg", alt: "image description") %></figure>
            <figure><%= image_tag("foor.jpg", alt: "image description") %></figure>
            <figure><%= image_tag("9.jpg", alt: "image description") %></figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>