<section class="tg-sectionspace tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="tg-shortcode tg-tailoronline">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
          <div class="tg-shortcodetext">
            <div class="tg-heading">
              <h2>Hi! We’re Tailor Online</h2>
            </div>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etaiate dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit inchieach voluptate velit esse cillum dolore eu fugiat.</p>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sitateu voluptatem accusantium doloremque laudantium.</p>
            </div>
            <div class="tg-btns">
<!--              <a class="tg-btn" href="http://www.codezel.com/tailors-online/customizer/?pid=8">Start Customizing</a>-->
<!--              <a class="tg-btn" href="howitwork.html">Video Tutorial</a>-->
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
          <div class="tg-shortcodeimg tg-shortcodemultiimgs">
            <figure><%= image_tag("1010.jpg", alt: "image description") %></figure>
            <figure><%= image_tag("1212.jpg", alt: "image description") %></figure>
            <figure><%= image_tag("9.jpg", alt: "image description") %></figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>