<section class="tg-bglight tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="tg-shortcode tg-adinpanel">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
          <div class="tg-shortcodeimg">
            <figure><%= image_tag("img-09.png", alt: "image description") %>
            </figure>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
          <div class="tg-shortcodetext">
            <div class="tg-heading">
              <h2>Tailor In Your Hand</h2>
            </div>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etaiatiea dolore magna aliqua aseenim ad minim veniam, quis nostrud exercitation ullaceo laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p>Duis aute irure dolor in reprehenderit inchieach voluptate velit esse cillum dolore eu fugiat cepteur sint occaecat cupidatat non proident.</p>
            </div>
            <ul class="tg-apps">
              <li><a href="javascript:void(0);"><i class="fa fa-android"></i></a></li>
              <li><a href="javascript:void(0);"><i class="fa fa-windows"></i></a></li>
              <li><a href="javascript:void(0);"><i class="fa fa-apple"></i></a></li>
            </ul>
            <div class="tg-btns">
              <a class="tg-btn" href="https://codecanyon.net/item/tailor-online-woocommerce-plugin-for-online-custom-tailoring/19812760" target="_blank">View Screenshots</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
