<body>
<!--[if lt IE 8]>
<![endif]-->
<!--************************************
    Wrapper Start
*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">

  <!--************************************
      Header Start
  *************************************-->
  <%= render 'welcome/header' %>
  <!--************************************
      Header End
  *************************************-->
  <!--************************************
      Inner Page Banner Start
  *************************************-->
  <div class="tg-innerpagebanner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ol class="tg-breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="tg-active">about</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--************************************
      Inner Page Banner End
  *************************************-->
  <!--************************************
      Main Start
  *************************************-->
  <main id="tg-main" class="tg-main tg-haslayout tg-paddingzero">
    <p1>
      With the world becoming more and more connected, it's important that you have a tailor shop online that can provide you with the latest fashion, style and trends.
      This is the best location for you if you're looking for a 24/7 online tailor shop service. By simply going online and looking for a tailor shop online service in your area, you can easily get the services done. You can get your clothes altered into new, one-of-a-kind items using a variety of services offered by the mydarzishop.
      The best thing about this service is that it can be used from anywhere in the world, and you can have your clothes made to your specifications. You don't need to worry about the time or location when tailor shops are available online around-the-clock because they will deliver their services anywhere in Pakistan and abroad as well.
    </p1>
    </main>
  <%= render 'welcome/footer' %>
</div>
<!--************************************
    Wrapper End
*************************************-->
</body>