<div style="width: 95%; margin: 0 auto;">
<div class="jumbotron " >
<!--  <h1>Tailor App</h1>-->
<!--  <p class="lead s1">This app is aimed to automate the tailoring sector which is manually maintained. <br>  After theautomation this will mean better services and good keeping of records, data integrity, datasecurity, quick search and also paperless environment.</p>-->
  <p class="text-center s1">
    <%= link_to 'New Customer' , new_client_path, class: "btn btn-primary btn-lg", role: "button" %> &nbsp; &nbsp;
    <%= link_to 'Existing Customer', clients_url, class: "btn btn-primary btn-lg", role: "button" %>
  </p>
</div>
</div>