<div class="container">
  <footer class="footer" >
    <small>
      Copyright &copy; <a href="https://xovolt.com" >Tailor App Code At Xovolt </a>
      by <a href="bitfi16a537@pucit.edu.pk" >Muhammad Anas</a>
    </small>
    <nav>
      <ul>
        <li><%=link_to "About", welcome_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>